In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/data_value.csv')

In [5]:
df.columns

Index(['tahun', 'kecamatan', 'kelurahan_desa', 'kec_lower', 'kec_kel', 'lat',
       'long', 'jumlah_stunting_beresiko', 'jumlah_stunting_tidak_beresiko',
       'jumlah_sasaran_keluarga', 'jarak_anak_t1', 'jarak_anak_t2',
       'jarak_anak_t3', 'jarak_anak_t4', 'memiliki_anak_baduta',
       'memiliki_anak_balita', 'memiliki_anak_pus', 'memiliki_anak_pus_hamil',
       'air_minum', 'jamban', 'asi_eks_jan', 'asi_eks_feb', 'asi_eks_mar',
       'asi_eks_apr', 'asi_eks_may', 'asi_eks_jun', 'asi_eks_july',
       'asi_eks_aug', 'asi_eks_sept', 'asi_eks_oct', 'asi_eks_nov',
       'asi_eks_dec', 'jumlah_puskesmas_asi_eks', 'jumlah_posyandu',
       'jumlah_posyandu_data_lansia', 'luas', 'prop_stunting_luas'],
      dtype='object')

In [10]:
df2 = df[['kecamatan', 'kelurahan_desa', 'lat',
       'long', 'jumlah_stunting_beresiko', 'jumlah_stunting_tidak_beresiko',
       'jumlah_sasaran_keluarga','luas']].rename(columns={'kelurahan_desa':'kelurahan'})

df2['kelurahan'] = df2['kelurahan'].str.capitalize()

In [11]:
df2.sample(10)

,kecamatan,kelurahan,lat,long,jumlah_stunting_beresiko,jumlah_stunting_tidak_beresiko,jumlah_sasaran_keluarga,luas
74,Nglegok,Krenceng,-8.0456,112.1912,174,186,2322,180.00
185,Sutojayan,Kembangarum,-8.1775,112.1989,507,376,2512,543.00
51,Ponggok,Karangbendo,-8.0211,112.1522,313,380,2516,940.00
42,Udanawu,Temenggungan,-8.0080,111.9866,278,2263,4399,282.45
215,Bakung,Kedungbanteng,-8.2489,112.0870,209,327,2463,998.13
116,Wlingi,Klemunan,-8.0874,112.3083,517,591,2727,403.00
195,Kademangan,Maron,-8.1964,112.0497,440,332,2468,"1,122.00"
200,Binangun,Sambigede,-8.2097,112.3498,384,446,2582,710.13
224,Bakung,Sumberdadi,-8.2655,112.0565,83,141,2277,381.96
22,Udanawu,Bakung,-8.0033,112.0268,112,293,2429,431.76

In [13]:
df2.to_csv('../data/location_data.csv',index = False)